* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    padding: 80px 0 50px 0;
    background-color: #23232e;
    text-align: center;
    color: #fff;
}

.main__logo {
    margin-bottom: 180px;
}

.main__header {
    font-family: "SegoeUI";
    font-weight: bold;
    font-size: 80px;
    text-transform: uppercase;
    margin-bottom: 65px;
}

.main__title {
    font-family: "SegoeUI";
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 180px;
}